pylint==2.3.1
imbalanced-learn==0.4.3
seaborn==0.9.0
pandas==0.24.2
lightgbm==2.2.3
scikit-learn==0.20.3
xgboost==0.82
matplotlib==3.0.3
numpy==1.16.2
tensorboard==1.13.1
tensorflow-gpu==1.15.2
keras==2.2.4
